@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&display=swap');

body {
    font-family: 'Noto Sans', serif;
    line-height: 1.5;
    padding: 3em 0.5rem 0.5rem;
    max-width: 40rem;
    margin: 0 auto;
    background-color: #222;
    color: #ddd;
}

main {
    display: block;
}

/* Heading sizes */
h1 {
    font-size: 1.75rem;
    font-weight: 700;
}
h2 {
    font-size: 1.5rem;
}
h3 {
    font-size: 1.25rem;
}

/* More impactful heading colors */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}

/* Block element margins */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dl {
    margin: 1rem 0;
}

/*
 * Header
 */

body > header,
.next-section {
    border-bottom: 1px dashed grey;
    padding-top: 1.25em;
    padding-bottom: 0.5rem;
    line-height: 2em;
}

body > header > h1 {
    position: relative;
    left: -4px;
    font-size: 4em;
    text-transform: uppercase;
    margin: 0;
    line-height: 1em;
}

body > header > p {
    margin-top: 0;
}

.next-section {
    border-bottom: 0;
    padding-bottom: 0;
}

.next-section,
.next-section + p {
    margin: 0;
}

/*
 * Footer
 */

body > footer {
    border-top: 1px dashed grey;
    padding-top: 0.5rem;
    margin-top: 2em;
    font-size: smaller;
}

/*
 * List styles
 */

/* Basic list alignment */
ul,
ol {
    padding: 0;
    padding-left: 1em;
}

/* Field list */
.field-list {
    display: table;
}
.field-list > div {
    display: table-row;
}
.field-list > div > dt {
    display: table-cell;
    font-weight: bold;
}
.field-list > div > dd {
    display: table-cell;
    padding-left: 1rem;
}

/* Unordered list - square then round */
ul {
    list-style: square;
}
ul ul {
    list-style: round;
}

/*
 * Links
 */

a[href] {
    color: hsl(213, 100%, 63%);
    position: relative;
    top: 0;
    transition: all 0.1s ease-in-out;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    padding-bottom: 0;
}

a[href]:active,
a[href]:hover {
    color: hsl(249, 100%, 72%);
    top: -2px;
    border-color: hsl(249, 100%, 72%);
    padding-bottom: 2px;
}

/*
 * Small screen styling
 */

@media (min-width: 40rem) {
    main {
        max-width: none;
    }
}
